<div class="sign-in">
    <%= link to: auth_path(@conn, :request, "github"), class: "btn btn-block btn-social btn-microsoft" do %>
        <span class="fa fa-github"></span>
        Login with Githubs
    <% end %>
</div>

